.home {
  width: 100%;
  align-items: center;
  font-family: sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: linear-gradient(rgba(0, 0, 0, 0.5), #4a4afa);
  color: #f0f0f0;
}
.about h2 {
  font-family: cursive;
  font-size: 70px;

  height: 50px;
}
.display p {
  font-family: cursive;
  font-size: 30px;
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), #4a4afa);
  height: 50px;
}
.skills h1 {
  font-size: 80px;
  font-family: sans-serif;
}
.list .stack h2 {
  font-size: 50px;
}
.stack span {
  font-size: 30px;
  width: auto;
}
.stackImages svg {
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}
